
bright-blue = #0637FF;
soft-blue   = #056EE8;
light-blue  = #07BBFF;
turquoise   = #05E5E8;
green       = #06FFBC;
light-green = rgba(green, 0.7)
light-grey  = #F5F5F5;

@font-face
  font-family Quicksand-Bold
  font-style normal
  src url(../fonts/Quicksand-Bold.otf)


.page-content-wrapper
  position relative

@import 'navigation.styl'
@import 'sidebar.styl'
@import 'table.styl'
