// colors
bright-blue = #0637FF;
soft-blue   = #056EE8;
light-blue  = #07BBFF;
turquoise   = #05E5E8;
green       = #06FFBC;

body
  margin 0
  padding 0

@import 'navigation.styl'
@import 'sidebar.styl'
