<div class='wrapper'>

  <div class="my-spreadsheet-ribon">
    <ul>
      <li><span class="mega-octicon octicon-plus"></span></li>
      <li><span class="mega-octicon octicon-playback-play" ng-click="openRepository()"></span></li>
      <li><span class="mega-octicon octicon-device-camera" ng-click="takeSnapshot()"></span></li>
      <li><span class="mega-octicon octicon-repo-push" ng-click="importXLSX()"></span></li>
      <li><span class="mega-octicon octicon-cloud-upload"></span></img></li>
      <li><span class="mega-octicon octicon-cloud-download"></span></img></li>
      <!-- <li><img src="assets/img/icons/redo.png"></img></li> -->

    </ul>
  </div>

  <div class="my-sidebar-toggle-button">
    <a ng-click="toggleSidebar()"><img src="assets/img/git-logo-purple.png"></img></a>
  </div> 

  <div class="sidebar slider" ng-class="{'slide-out':boolChangeClass}">
    <!-- <button class="btn" ng-click="openRepository()">OPEN</button>
    <button class="btn" ng-click="importXLSX()">IMPORT</button>
    <button class="btn" ng-click="takeSnapshot()">SNAPSHOT</button> -->
    <snap-shots></snap-shots>
  </div>

  <div class='no-scroll'>
    <spread-sheet></spread-sheet>
  </div>
  </div>

