@font-face {
  font-family: Quicksand-Bold;
  font-style: normal;
  src: url("../fonts/Quicksand-Bold.otf");
}
@font-face {
  font-family: Quicksand;
  font-style: normal;
  src: url("../fonts/Quicksand-Regular.otf");
}
body {
  margin: 0;
  padding: 0;
  background-color: #9c9c9c;
}
#loading-overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 200px;
  width: 400px;
  border: 1px solid #99aeb6;
  background: #edf0f7;
  border-radius: 5px;
  display: none;
}
.spinner {
  background-position: center center;
  background-repeat: no-repeat;
  background: url("../img/spiffygif_90x90.gif");
  width: 90px;
  height: 90px;
  margin: 0 auto;
  margin-top: 40px;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}
.formula-entry {
  position: absolute;
  top: -34px;
  left: 0px;
}
.formula-entry span.input-group-addon {
  border-radius: 0;
  padding-left: 19px;
  padding-right: 16px;
}
.formula-entry input {
  border-radius: 0;
}
.no-scroll {
  overflow-x: hidden;
}
.my-spreadsheet-ribon {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 500;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(20,20,20,0.3);
  -moz-box-shadow: 0px 1px 2px 0px rgba(20,20,20,0.3);
  box-shadow: 0px 1px 2px 0px rgba(20,20,20,0.3);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dbdbdb), color-stop(1, #fcfcfc));
  background-image: -o-linear-gradient(top, #dbdbdb 0%, #fcfcfc 100%);
  background-image: -moz-linear-gradient(top, #dbdbdb 0%, #fcfcfc 100%);
  background-image: -webkit-linear-gradient(top, #dbdbdb 0%, #fcfcfc 100%);
  background-image: -ms-linear-gradient(top, #dbdbdb 0%, #fcfcfc 100%);
  background-image: linear-gradient(to top, #dbdbdb 0%, #fcfcfc 100%);
}
.my-spreadsheet-ribon img {
  height: 20px;
}
.my-spreadsheet-ribon ul {
  float: left;
}
.my-spreadsheet-ribon ul li {
  display: inline-block;
  margin-left: 50px;
  margin-top: 10px;
  float: left;
}
.my-sidebar-toggle-button {
  position: fixed;
  top: 5px;
  left: 15px;
  z-index: 600;
}
.my-sidebar-toggle-button img {
  height: 40px;
}
.sidebar {
  width: 250px;
  height: calc(100vh - 50px);
  position: absolute;
  top: 50px;
  left: -246px;
  z-index: 400;
  overflow: scroll;
  border-right: 5px solid #4e09a5;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dbdbdb), color-stop(1, #fcfcfc));
  background-image: -o-linear-gradient(top, #dbdbdb 0%, #fcfcfc 100%);
  background-image: -moz-linear-gradient(top, #dbdbdb 0%, #fcfcfc 100%);
  background-image: -webkit-linear-gradient(top, #dbdbdb 0%, #fcfcfc 100%);
  background-image: -ms-linear-gradient(top, #dbdbdb 0%, #fcfcfc 100%);
  background-image: linear-gradient(to top, #dbdbdb 0%, #fcfcfc 100%);
}
.slider {
  -moz-transition: left 0.2s;
  -webkit-transition: left 0.2s;
  -o-transition: left 0.2s;
  transition: left 0.2s;
}
.slide-out {
  -moz-transition: left 0.2s;
  -webkit-transition: left 0.2s;
  -o-transition: left 0.2s;
  transition: left 0.2s;
  left: 0px !important;
}
.slide-out-spreadsheet {
  left: 246px !important;
}
.mega-octicon:hover {
  cursor: pointer;
}
.snapshot {
  cursor: pointer;
  padding: 10px;
}
.snapshot a {
  text-decoration: none;
  color: #000;
}
.feedWrapper {
  list-style-type: none;
  padding-left: 0px;
}
.selected-snapshot {
  background-color: rgba(186,150,217,0.3);
}
.table-container {
  position: fixed;
  top: 84px;
  left: 5px;
}
.table-container #spreadsheet {
  height: calc(100vh - 114px);
  width: calc(100vw);
}
.table-container .sheet-select {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dbdbdb), color-stop(1, #fcfcfc));
  background-image: -o-linear-gradient(top, #dbdbdb 0%, #fcfcfc 100%);
  background-image: -moz-linear-gradient(top, #dbdbdb 0%, #fcfcfc 100%);
  background-image: -webkit-linear-gradient(top, #dbdbdb 0%, #fcfcfc 100%);
  background-image: -ms-linear-gradient(top, #dbdbdb 0%, #fcfcfc 100%);
  background-image: linear-gradient(to top, #dbdbdb 0%, #fcfcfc 100%);
}
.table-container li a {
  color: #000;
  background-color: #808080;
  border-radius: 0;
  height: 30px;
  padding-top: 4px;
}
.table-container li a:hover {
  background-color: #808080;
  border: none;
}
.table-container li.active a {
  height: 30px;
  padding-top: 4px;
}
.table-container li.active a:hover {
  background-color: #fff;
  color: #000;
}
li {
  font-weight: normal;
}
li a:hover {
  color: #000;
}
li.active {
  border-bottom: 1px solid #294c71;
}
li.active a {
  border: none;
  color: #fff;
  background-color: #294c71;
}
li.active a:hover {
  border: none;
  background-color: #294c71;
  color: #fff;
}
.nav-tabs > li > a {
  margin-right: 0;
  margin-top: 5;
  border: none;
  border: radius 0;
}
#modal-text {
  font-family: Arial;
  color: #000;
  font-size: 18px;
}
