

.formula-entry
  position absolute
  top -34px
  left 0px
  span.input-group-addon
    border-radius 0
    padding-left 19px
    padding-right 16px
  input
    border-radius 0

 .no-scroll
   overflow-x hidden

.my-spreadsheet-ribon
  position fixed
  top 0
  left 0
  width 100%
  height 50px
  z-index 500
  -webkit-box-shadow: 0px 1px 2px 0px rgba(20,20,20,.3);
  -moz-box-shadow: 0px 1px 2px 0px rgba(20,20,20,.3);
  box-shadow: 0px 1px 2px 0px rgba(20,20,20,.3);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #DBDBDB),
    color-stop(1, #FCFCFC)
  );
    background-image: -o-linear-gradient(top, #DBDBDB 0%, #FCFCFC 100%);
    background-image: -moz-linear-gradient(top, #DBDBDB 0%, #FCFCFC 100%);
    background-image: -webkit-linear-gradient(top, #DBDBDB 0%, #FCFCFC 100%);
    background-image: -ms-linear-gradient(top, #DBDBDB 0%, #FCFCFC 100%);
    background-image: linear-gradient(to top, #DBDBDB 0%, #FCFCFC 100%);


.my-spreadsheet-ribon img
  height 20px;

.my-spreadsheet-ribon ul
  float left

.my-spreadsheet-ribon ul li
  display inline-block
  margin-left 50px
  margin-top 10px
  float left

.my-sidebar-toggle-button
  position fixed
  top 5px
  left 15px
  z-index 600

.my-sidebar-toggle-button img
  height 40px


.sidebar
    width 250px
    height calc(100vh - 50px)
    position absolute
    top 50px
    left -246px
    z-index 400
    overflow-y scroll
    text-overflow ellipsis
    border-right 5px solid #4E09A5
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, #DBDBDB),
      color-stop(1, #FCFCFC)
    );
    background-image: -o-linear-gradient(top, #DBDBDB 0%, #FCFCFC 100%);
    background-image: -moz-linear-gradient(top, #DBDBDB 0%, #FCFCFC 100%);
    background-image: -webkit-linear-gradient(top, #DBDBDB 0%, #FCFCFC 100%);
    background-image: -ms-linear-gradient(top, #DBDBDB 0%, #FCFCFC 100%);
    background-image: linear-gradient(to top, #DBDBDB 0%, #FCFCFC 100%);

.slider 
    -moz-transition left .2s
    -webkit-transition left .2s
    -o-transition left .2s
    transition left .2s

.slide-out
    -moz-transition left .2s
    -webkit-transition left .2s
    -o-transition left .2s
    transition left .2s
    left 0px !important

.slide-out-spreadsheet
  left 246px !important

.mega-octicon:hover
  cursor pointer
