a
  color white

.btn-tabs
  background-color soft-blue
  border 1px solid bright-blue
  color white  

.tab-menu
  padding-top 10px
  padding-left 10px
  border none
  position fixed
  top 0px
  left 250px
  font-family Quicksand
  font-size 16px
  li
    font-weight bold
    a:hover
      color black
  li.active
    border-bottom 1px solid light-green
    a
      border none
      color white
      background-color light-green
    a:hover
      border none
      background-color light-green
      color white

.ribbon
  height 50px
  width 100%
  padding-top 8px
  padding-left 10px
  background-color light-green
  position fixed
  top 50px
  left 250px
  .btn-tabs
    -webkit-box-shadow 2px 2px 2px 0px rgba(0,0,0,0.75)
    font-family Quicksand-Bold

.formula-entry
  position fixed
  top 50px
  left 5px
  span.input-group-addon
    border-radius 0
    padding-left 19px
    padding-right 16px
  input
    border-radius 0

 .no-scroll
   overflow-x hidden










.my-spreadsheet-ribon
  position fixed
  top 0
  left 0
  width 100%
  height 50px  
  z-index 500
  -webkit-box-shadow: 0px 1px 2px 0px rgba(20,20,20,.3);
  -moz-box-shadow: 0px 1px 2px 0px rgba(20,20,20,.3);
  box-shadow: 0px 1px 2px 0px rgba(20,20,20,.3);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #DBDBDB),
    color-stop(1, #FCFCFC)
  );
    background-image: -o-linear-gradient(top, #DBDBDB 0%, #FCFCFC 100%);
    background-image: -moz-linear-gradient(top, #DBDBDB 0%, #FCFCFC 100%);
    background-image: -webkit-linear-gradient(top, #DBDBDB 0%, #FCFCFC 100%);
    background-image: -ms-linear-gradient(top, #DBDBDB 0%, #FCFCFC 100%);
    background-image: linear-gradient(to top, #DBDBDB 0%, #FCFCFC 100%);


.my-spreadsheet-ribon img
  height 20px;

.my-spreadsheet-ribon ul 
  float left

.my-spreadsheet-ribon ul li
  display inline-block
  margin-left 50px
  margin-top 15px
  float left

.my-sidebar-toggle-button
  position fixed
  top 5px
  left 15px
  z-index 600

.my-sidebar-toggle-button img

  height 40px


.sidebar 
    -moz-transition left .2s
    -webkit-transition left .2s
    -o-transition left .2s
    transition left .2s
    width 250px
    height calc(100vh - 80px)
    position absolute
    top 50px
    left -246px
    padding 10px
    z-index 400
    border-right 5px solid #4E09A5
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, #DBDBDB),
      color-stop(1, #FCFCFC)
    );
    background-image: -o-linear-gradient(top, #DBDBDB 0%, #FCFCFC 100%);
    background-image: -moz-linear-gradient(top, #DBDBDB 0%, #FCFCFC 100%);
    background-image: -webkit-linear-gradient(top, #DBDBDB 0%, #FCFCFC 100%);
    background-image: -ms-linear-gradient(top, #DBDBDB 0%, #FCFCFC 100%);
    background-image: linear-gradient(to top, #DBDBDB 0%, #FCFCFC 100%);

sidebar button 
  margin 10px


.slide-out 
    -moz-transition left .2s
    -webkit-transition left .2s
    -o-transition left .2s
    transition left .2s
    left 0px











