.snapshot
  cursor pointer
  padding 10px
  a
    text-decoration none
    color black

.feedWrapper
  list-style-type none
  padding-left 0px;

.selected-snapshot
  background-color rgba(186, 150, 217, 0.3)

