.table-container
  position fixed
  top 84px
  left 0px
  #spreadsheet
    height calc(100vh - 114px)
    width calc(100vw)
    
  .sheet-select
    li
      a
        color black
        background-color grey
        border-radius 0 0 10px 10px
        height 30px
        padding-top 4px
        &:hover
          background-color grey
          border none
    li.active
      a
        color black
        background-color white
        border-radius 0 0 10px 10px
        height 30px
        padding-top 4px
        &:hover
          background-color white
          color black
  li
    font-weight bold
    a:hover
      color black
  li.active
    border-bottom 1px solid light-green
    a
      border none
      color white
      background-color light-green
    a:hover
      border none
      background-color light-green
      color white

.nav-tabs > li > a 
  margin-right 0
  margin-top 5
  border none
  border radius 0